
@import "mr.lib.scss";

form#imageUploadContainer {
  border-radius: 5px;
  border: 1px $color-dark dashed;
  text-align:center;
  background: $color-bright;
  padding: 15px 15px;
  min-height: 150px;

  * {
    box-sizing: border-box;
  }

  &.dz-started .dz-message {
    display: none;
  }

  &.dz-clickable {
    cursor: pointer;

    * {
      cursor: default;
    }
  }

  .dz-message {
    @extend %h4;
    text-align: center;
    margin: 2em 0;

  }

  .dz-preview {
    text-align:left;
    background: $color-dark;
    color: $color-bright;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    vertical-align: middle;
    margin-bottom: 2px;

    > div {

      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }
    }

    .dz-image {
      @include border-radius(4px);
      display: inline-block;
      overflow: hidden;
      vertical-align: middle;
    }
    .dz-details {
      padding: 5px;
      display: inline-block;
      vertical-align: middle;

      .dz-filename span {
        @extend h4;
        padding-top: 15px;
      }
      .dz-size span {

        &:not:hover {
        }
      }
    }
    .dz-progress, .dz-error-message {
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      left: 41%;
      top: 45%;
    }

    .dz-progress {
      width: 30%;
      border: 1px solid $color-bright;

      .dz-upload {
        display: block;
        height: 20px;
        background-color:$color-bright;
        @include opacity(0.7);
      }
    }

    &.dz-success .dz-progress {
    border: 1px solid $color-green;

      .dz-upload {
        background-color:$color-green;
        @include opacity(1);
      }
    }

    &.dz-error .dz-progress {
      display: none;
    }
    .dz-success-mark, .dz-error-mark {
      display: none;
      vertical-align: middle;
    }
    &.dz-success .dz-success-mark, &.dz-error .dz-error-mark {
      display: inline-block;
      position: absolute;
      right: 15px;
      top:20%;
      height:60%;
      box-sizing: border-box;
      width: 200px;
      text-align: right;

      svg {
        width: auto;
        height:100%;
      }
    }

    &:hover {
      .dz-details {

        .dz-filename{
          span {
          }
          &:hover span {
          }
        }
      }
    }
  }

  &.dz-drag-hover {
    border: 1px $color-dark solid;

    .dz-message {
      opacity: 0.5;
    }

  }
}
