
@import "font.scss";
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/flexbox";
@import "compass/css3/selection";
// @import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic,700italic,300italic,900);
// @import url(https://fonts.googleapis.com/css?family=Cookie);

$default-font: Lato, sans-serif;
$size-sm: 768px;
$size-md: 992px;
$size-lg: 1200px;

$row-col-padding: 15px;
$font-size: 14px;

$color-dark: #1a1a1a;
$color-bright: #fff;
$color-main: #b65039;//65cc00;
$color-red: #ff0000;
$color-green: #65cc00;
$color-yellow: yellow;
$color-background: #fefefe;

.main-bg {
  background: $color-main;
}
@mixin user-drag($select) {
  $select: unquote($select);
  @include with-each-prefix(user-select-none, $userselect-support-threshold) {
    // old Firefox used a proprietary `-moz-none` value, starting with Firefox 21 `none` behaves like `-moz-none`
    // @link https://developer.mozilla.org/en-US/docs/Web/CSS/user-select
    @include prefix-prop(user-drag, if($current-prefix == -moz and $select == "none", -moz-none, $select));
  }
}
@mixin size-xs-not {
  @media only screen and (min-width: $size-sm) {
    @content;
  }
}
@mixin size-xs {
  @media only screen and (max-width: $size-sm) {
    @content;
  }
}
@mixin size-sm {
  @media only screen and (min-width: $size-sm) and (max-width: $size-md) {
    @content;
  }
}
@mixin size-md {
  @media only screen and (min-width: $size-md) and (max-width: $size-lg) {
    @content;
  }
}
@mixin size-lg {
  @media only screen and (min-width: $size-lg) {
    @content;
  }
}

* {
	@include box-sizing(border-box);
  @include selection($color-main, $color-bright);
  outline: none;
  -webkit-appearance: none;
}

html {
	width: 100%;
	height: 100%;
  background-color: $color-dark;
}

body {
	width: 100%;
	min-height: 100vh;
	font-size: $font-size;
	font-family: $default-font;
  color: $color-dark;
  background: $color-background;
  letter-spacing: 0.1em;
  line-height: 1.25;
  padding-bottom: 50px;
}

input, textarea {
  font-size: $font-size;
  color: $color-dark;
}

img {
  max-width: 100%;
  @include user-select(none);
  @include user-drag(none);
}

p {
  letter-spacing: 0;
  line-height: 1.4;

  &.text {
    @include column-width(350px);
    padding-bottom: $row-col-padding;
  }
}

strong {
  font-weight: bold;
}

.xs-only {
  @include size-xs-not {
    display: none !important;
  }
}

.xs-hide {
  display: block;
  @include size-xs {
    display: none;
  }
}

a {
  text-decoration: none;
  font-weight: 400;
  color: $color-dark;
}

%fullscreen-link {
  position: relative;

  a {
    display: block;
    position: absolute;
    top:0;
    bottom:0;
    right: 0;
    left:0;
    z-index: 200;
  }
}

.opacity-50 {
  @include opacity(0.5);
}
.opacity-30 {
  @include opacity(0.3);
}

%small {
  small {
    font-size: 0.6em;
    opacity: 0.8;
  }
}

%big {
  big {
    font-size: 1.4em;
    color: $color-main;
  }
}

%h1 {
  @extend %small;
  @extend %big;
  font-size: 2.3em;
  font-weight: 700;
  vertical-align: middle;

  img {
    height: 51px;
  }
} h1 { @extend %h1; padding-bottom: 0.3em; }
%h2 {
  @extend %h1;
  font-size: 1.9em;
} h2 { @extend %h2; padding-bottom: 0.3em; }
%h3 {
  @extend %h2;
  font-size: 1.6em;
} h3 { @extend %h3; padding-bottom: 0.3em; }
%h4 {
  @extend %small;
  font-size: 1.6em;
  font-weight: 400;//
} h4 { @extend %h4; padding-bottom: 0.3em; }
%h5 {
  @extend %h4;
  font-size: 1.3em;
} h5 { @extend %h5; padding-bottom: 0.3em; }
%h6 {
  @extend %h5;
  font-size: 1em;
} h6 { @extend %h6; padding-bottom: 0.6em; }

%box-radius {
  @include border-radius(4px);
  //@include box-shadow(2px 2px 1px 0px rgba(0,0,0,0.39));
} .box-radius { @extend %box-radius; }
.no-radius {
  @include border-radius(0px);
}

.color-dark {
  color: $color-dark !important;
}

.caps {
  text-transform: uppercase;
}

.border-top {
  border-style: solid;
  border-top-width: 1px;
  border-color: $color-bright*0.8;
  padding-top: 15px;
}

.background-bright {
  background-color: $color-bright;
}

.fullheight { height:100%; }

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.rows {
  @include display-flex;
  @include flex-direction(column);
  height: 100%;

  * {
    margin-bottom: 20px;
    &:last-child {
      margin: 0;
    }
  }
  &.rows-no-margin {
    margin: 0;
  }
  &.rows-align-stretch {
    @include align-content(stretch);
    > * {
      flex:1;
    }
  }

  &.rows-no-padding > * {
     margin: 0;
  }
}

%row {
  @include display-flex;
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(flex-start);

  @include size-xs {
    display: block;
    @include display-flex;
    @include flex-direction(column !important);

    &.xs-row {
      @include flex-direction(row !important);
    }
  }
}

.row {
  @extend %row;
  width: 100%;

	.col {
  	width: 50%;
		padding-left: $row-col-padding;
		padding-right: $row-col-padding;
    overflow: hidden;


    @include size-xs {
      width: 100% !important;
    }
	}
	.col-1 {
  	width: 1/12*100%;
	}
	.col-2 {
  		width: 2/12*100%;
	}
	.col-3 {
  		width: 3/12*100%;
	}
	.col-4 {
  		width: 4/12*100%;
	}
	.col-5 {
  		width: 5/12*100%;
	}
	.col-6 {
  		width: 6/12*100%;
	}
	.col-7 {
  		width: 7/12*100%;
	}
	.col-8 {
  		width: 8/12*100%;
	}
	.col-9 {
  		width: 9/12*100%;
	}
	.col-10 {
  		width: 10/12*100%;
	}
	.col-11 {
  		width: 11/12*100%;
	}
	.col-12 {
  		width: 12/12*100%;
	}
	.col-no-padding {
		padding: 0 !important;
  }
}

.row-no-break {
  @include flex-direction(row);
}

.row-border-no-padding {
  > .col {

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    @include size-xs {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.row-reverse {
  @include flex-direction(row-reverse);

  &.row-border-no-padding > .col {
    &:first-child {
      padding-left: $row-col-padding;
      padding-right: 0;
    }

    &:last-child {
      padding-right: $row-col-padding;
      padding-left: 0;
    }
  }
}

.row-wrap {
  @include flex-wrap(wrap);
  @include justify-content(flex-start);
}

.row-no-padding  {

  > .col {
    padding: 0 !important;
  }
}

.padding  {
  padding: $row-col-padding !important;
}

.row-fullscreen {
  min-height: 500px;

  @include size-xs {
    min-height: auto;
    margin-top: 50px !important;
  }
}

.row-align-top {
	//@extend .row;
  @include align-items(flex-start);
}
.row-align-middle {
	//@extend .row;
  @include align-items(center);
}
.row-align-bottom {
	//@extend .row;
  @include align-items(flex-end);
}
.row-align-center {
  //@extend .row;
  @include justify-content(center);
}
.row-align-stretch {
  @include align-items(stretch);
  .col {

    height: 100%;

    &.no-ex-he {
      height: auto;
    }

    @include size-xs {
      height: auto;
    }
  }

}
.row-align-baseline {
  //@extend .row;
  @include align-items(baseline);
}

.margin-top{
  margin-top: 30px;
}
.col-margin-top {
  @include size-xs {
    > .col {
      margin-top: 30px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
.col-margin-top-zero {
  @include size-xs {
    > .col {
      margin-top: 0;
    }
  }
}

.row-margin-top {
  margin-top: 30px;
  @extend .col-margin-top;
}

.row-margin-top-big {
  margin-top: 100px;
  @extend .col-margin-top;
}

.dark {
	background: $color-dark;
	color:		$color-bright;
}

.relative {
  position: relative;
}

div.align-center {
  margin:auto;
}

div.container {
	margin: auto;
  clear: both;
	@include size-xs {
		width: 100%;
	}
	@include size-sm {
		width: $size-sm;
	}
	@include size-md {
		width: $size-md;
	}
	@include size-lg {
		width: $size-lg;
	}
}

div.container-fluid {
  width: 100%;
  clear: both;
}

.cover {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  @include background-size(cover);
  width: 100%;

  img.background { visibility: hidden; }
}
.cover-box {
  @extend .cover;
  @extend %box-radius;
  @extend %fullscreen-link;

  &.fullscreen {
    height: 100%;
  }

  @include size-xs {
    &.min-height {
      height: 80vw;
    }

    &.fullscreen {
      height: auto;
    }
  }
}
.square {
  max-width: 100%;
  overflow: hidden;
  display: block;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.xs-half {
  @include size-xs {
    max-width: 50% !important;
    margin: auto;
  }
}

%nav-grid {
  @extend %row;
  @include align-items(center);
}

.nav {
  @extend %nav-grid;
  width: 100%;

  > div.container {
    @extend %nav-grid;
  }

  ul {
    @extend %row;
    @include align-items(stretch);
    width: auto;

    &:last-child {
      @include justify-content(flex-end);
    }

    li {
      display: block;
      a {
        @extend %h4;
        display: block;
        text-decoration: none;
        background: transparent;
        color: $color-dark;
        padding: 15px;
        @include transition(color 0.2s,background 0.5s);

        &:hover {
          color: $color-main;
        }
      }
    }
  }

  .nav-button {
    display: none;
  }

  @include size-xs {


    p, h1, h2, h3, h4, h5, h6, li, ul, div {
      width: 100%;
    }

    > div.container {
      padding-left: 0;
    }
    h1,h2,h3,h4,h5,h6,p {
      padding: 7px;
      padding-left: 15px;
    }

    ul {
      display: none;
      overflow: hidden;
    }

    .nav-head {
      display: block;

      position: relative;
      height: 40px;

      .nav-button {
        @include display-flex;
        @include align-items(center);
        @include justify-content(flex-end);

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        width: auto;
        padding-right: 3%;
        padding-left: 3%;
        text-align: right;

        font-size: 30px;
        @include transition(color 0.2s);
        cursor: pointer;

        &:hover, &:active {
          color: $color-main;
        }

      }

    }
  }
}

.nav-footer {
  @include size-xs {
    ul {
      display: block;

      li {
        a {
          padding: 15px !important;
          text-align: center !important;
          display: block;
          width: 100% !important;
        }
        &::after {
          content: " ";
          display: block;
          width: 60%;
          opacity: 0.7;
          border-bottom: 2px solid $color-dark;
          margin: auto;
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}

.nav-fixed-on-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $color-bright;
}

.nav-default {
  border-top:2px;
  border-left: 2px;
  border-right: 2px;
  border-bottom: 2px;
  border-style: solid;
  border-color: $color-dark;

  > div.container {
    padding-left: 15px;
  }

  &.nav-fixed-on-top {
    border-top:0;
    border-left: 0;
    border-right: 0;
  }
}

.nav-simple {
  ul {
      @include justify-content(flex-start !important);

      li {
        a {
          padding: 0;
          margin-right: 30px;
          &:hover {
            background: none;
            color: $color-main;
          }
        @include  size-md {
            font-size: 1.5em;
        }
        }
      }
  }

  &.align-right {
    ul > li > a {
      margin-left: 30px;
      margin-right: 0;
    }
  }

  @include size-xs {
    ul > li > a {
      margin: 0 !important;
    }
  }
}

.circle {
  border-radius: 50%;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: block;

  &.cover-box {
    border: 1px solid #e4e4e4;
  }
  margin: auto;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  @include size-xs {
    width: 100%;
    max-width: 300px;
  }
}

table {
  padding: 0;
  margin: 0;
  width: 100%;
  display: table;



  > tbody, > thead {
    display: table-row-group;
    margin: 0;
    padding: 0;
  }

  > tbody > tr, > tr, > thead > tr {
    margin: 0;
    padding: 0;

    > td,th {
      @extend %box-radius;
      padding: $row-col-padding*0.6;
      padding-left: $row-col-padding*0.8;
      padding-right: $row-col-padding*0.8;
      margin: 0.5px;
      line-height: 1.7;
      font-weight: bold;
    }
  }

  &.dark-theme {
    display: block;



    > tbody {
      display: block;
    }
    > tbody > tr, > tr, > thead > tr {
      @include display-flex;
      @include flex-direction(row);
      @include justify-content(space-between);
      @include flex-wrap(nowrap);
      > td,th {
        color: $color-bright;
        display: block;

        a {
          color: $color-bright;
        }
      }
    }
  }

  &.forty-sixty {
    > tbody > tr, > tr, > thead > tr {
      > td,th {
        &:first-child {
          width: 40%;
          margin-left: 0;
        }
        &:last-child {
          width: 60%;
          margin-right: 0;
        }
      }
    }
  }

  &.listed {
  @extend %box-radius;
  border: solid 1px $color-bright*0.8;
    border-bottom:0;
    > tbody > tr, > tr, > thead > tr {
      //background: $color-bright*0.95;
      border-bottom: solid 1px $color-bright*0.8;

      &.selected {
        background-color: $color-bright*0.5+$color-green;
      }
      > td,th {
        border-right: solid 1px $color-bright*0.8;
        &:last-child {
          border-right:0;
        }

        &.link {
          a {
            // padding: $row-col-padding*0.8;
            // padding-left: $row-col-padding;
            // padding-right: $row-col-padding;
            display: block;
            width: 100%;
            &:hover {
              color: $color-red;
            }
          }
        }
      }
    }
  }

  &.table-center {
    > tbody > tr, > tr {
      @include justify-content(center);
    }
  }
  &.one-col > tbody > tr > td, &.one.col > tr > td {
    width: 100%;
  }
}

.cover-box > .map {
  position: absolute !important;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}

.map-info-box {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  background-color: white;
  padding: 10px;
  font-family: Roboto, Arial;
  font-size: 13px;
  margin: 15px;
  position: relative;

  .data {
    letter-spacing: 0;
    font-size: 0.8em;
    margin-top: 5px;
  }
}

form {

  .row-form {
    &.row-margin-top {
      margin-top: $row-col-padding;
      @include size-xs {
        margin-top: 2*$row-col-padding;
      }
    }

    > .col {
      padding: 0;
      padding-left: $row-col-padding;

      &:first-child {
        padding-left: 0;
      }

      @include size-xs {
        padding: 0;
        margin-top: 2*$row-col-padding;
      }
    }
  }

  %input {
    &.fullscreen {
      @extend %box-radius;
      width: 100%;
      padding: $row-col-padding;
      border: solid 1px $color-dark;
      background: $color-dark;
      color: $color-bright;
      $delay: 0.1s;
      @include transition(color $delay, background $delay, border $delay);

      &:focus {
        background: $color-bright;
        color: $color-dark;
      }
    }
  }
  %input-small {
    &.fullscreen {
      padding: $row-col-padding*0.8;
      font-size: 0.88em;
    }
  }

  input[type=text], input[type=password] {
    @extend %input;
    &.small {
        @extend %input-small;
    }
  }

  input[type=checkbox] {
    display:none;
    & + label.fullscreen {
      padding: $row-col-padding;
      display: block;
      cursor: pointer;
      color: $color-dark;
      padding-left: $row-col-padding+22px;
      &:before {
        content: "";
        @include border-radius(4px);
        display:inline-block;
        width: 15px;
        height: 15px;
        vertical-align: bottom;
        margin-left: -22px;
        border: 1px solid $color-dark;
        color:$color-bright;
        font-size: 1.8em;
        line-height: 10px;
        text-align: center;
      }
    }
    &:checked + label.fullscreen {
      &:before {
        content: "x";
        background: $color-main;
        border: 1px solid $color-main;
      }
    }
    &.small {
        @extend %input-small;
    }
  }

  textarea {
    resize: vertical;
    min-height: 300px;
    @extend %input;
    &.small {
        @extend %input-small;
    }
  }

  input[type=submit].fullscreen {
    @extend %h5, %input;
    cursor: pointer;
    color: $color-main;
    $delay: 0.2s;
    @include transition(color $delay, background $delay, border $delay);

    &:hover {
      background: $color-bright;
      border: 1px solid $color-main;
    }
    &.small {
        @extend %input-small;
    }
  }

  label.image {
    @include opacity(0.8);
    @include transition(opacity 0.2s);
    cursor: pointer;
    &:hover {
      @include opacity(1);
    }
  }
  input[type=radio].with-labels{
    display: none;
    &:checked + label.image {
      @include opacity(1);
    }
  }
}

.empty {
  margin: 0 !important;
  padding: 0 !important;
}

.xs-inline-block {
  @include size-xs {
    display: inline-block;
  }
}
