/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "mr.lib.scss";
@import "dropzone.scss";

body {
  div#main {
    @include transition(all 0.6s);
  }
  @include size-xs-not {

    div#main {
      min-height: 100vh;
      background-attachment: fixed;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}

body.imageview {
  @include size-xs {
    div#main {
      background-image: none !important;
    }
  }
  @include size-xs-not {
    margin: 0;
    padding:0;
    overflow: hidden;
  }
}

 $padding_ver: 30px;
 $padding_hor: 20px;

.padding-top-small {
  padding-top: 5px;
}
.padding-bottom-small {
  padding-bottom: 5px;
}

#main {
}

p.sys_message {
  border-left-style: solid;
  border-left-width: 10px;
  padding: 15px;

  &.error {
    border-color: $color-red;
  }

  &.warning {
    border-color: $color-yellow;
  }

  &.notice {
    border-color: $color-green;
  }

  .printr {
    @extend %box-radius;
    font-family: 'Roboto Mono', monospace;
    white-space: pre;
    display: block;
    padding: 20px;
    margin: 10px;
    width: 90%;
    max-width: $size-md;
    color: $color-bright;
    background: $color-dark;
    overflow-x: scroll;
  }
}

#header {

  @include size-xs-not {
    min-height: 150px;
  }
  @include size-xs {
    padding-top: 30px;
    padding-bottom: 10px;
    background: url(../img/linien.png) no-repeat 20px left;
    background-size: 50px auto;
  }

   div.col:first-child {

     @include size-xs {
       text-align: center;
     }

     img {
       width: 80%;
     }

   }
}

p {
  padding-top: 10px;
  padding-bottom: 5px;
}

#welcome {
  font-family: "Roboto-mono", monospace;

  p {
    font-size: 1.2em;
  }
}

.imagefeeditem {
  @extend %fullscreen-link;

  .absolute {
    position: absolute;
    bottom: $padding_hor;
    top: $padding_ver;
    z-index: 550;
  }
}

div.login-box {
  @extend %box-radius;
  border: solid 3px $color-dark;
  width: 200px;
  margin: auto;

  input[type=text],input[type=password],input[type=submit] {
    width: 100%;
    display: block;
    border: 0;
    text-align: center;
    padding: 10px;
    cursor:pointer;
    margin:0;

  }

  input[type=submit] {
    background: $color-dark;
    color: $color-bright;
    @include transition(color 0.2s,background 0.5s);
    @include border-radius(0);

    &:hover {
      background: $color-dark*3;
    }
  }
}

.admin-container {
  min-height: 300px;
  padding-bottom: 15px;
  h1 small {
    display: block;
  }
}

.nav-leftsub {

  ul {
    @extend %box-radius;
    border: solid 1px $color-bright*0.6;
    background: $color-bright*0.95;
    overflow: hidden;

    li {
      a {
        border-top: solid 1px $color-bright*0.6;
        padding: 10px;
        margin:0;
        display: block;

        @include size-xs {
          border-left:0;
          border-right:0;
        }
        &:hover {
            background: $color-bright;
        }
      }

      &:first-child a {
        border-top: 0;
      }
    }
  }

}

.button, form .button, [type=submit].button {
  display: inline-block;
  @include border-radius(4px);
  padding: $row-col-padding*0.8;
  border: solid 1px $color-dark;
  background: $color-dark;
  color: $color-bright;
  font-weight: bold;
  $delay: 0.5s;
  @include transition(all $delay);

  &:hover {
    background: $color-bright;
    color: $color-main;
    border: 1px solid $color-main;
  }

  &.fullscreen {
    width: 100%;
    text-align: center;
    padding: $row-col-padding*0.8;
    font-size: 0.88em;
  }

  &.red {
    background-color: $color-red*0.5+$color-dark*0.5;
    border-color: $color-red*0.5+$color-dark*0.5;

    &:hover {
      background: none;
    }
  }
}

.small-button {
  display: inline-block;
  @include border-radius(4px);
  padding: $row-col-padding/2;
  border: solid 1px $color-dark;
  background: $color-dark;
  color: $color-bright;
  $delay: 1s;
  @include transition(all $delay);

  &:hover {
    background: $color-bright;
    color: $color-main;
    border: 1px solid $color-main;
  }
}

#righttop-nextstep {
  position: absolute;
  top:0;
  right:0;
  @include opacity(0);
  $delay: 0.4;
  @include transition(all $delay);

  &.show {
    @include opacity(1);
  }
}

div.login-top {
    position: fixed;
    top: 10px;
    left: 20px;
    font-size:0;
    z-index: 1001;

    .small-button {
      margin-right: 15px;
      font-size: $font-size;
      &:last-child {
        margin-right: 0;
      }
    }

    @include size-xs {
        position: static;
        width: 100%;
        text-align: center;
      padding-top: 50px;

        .small-button {
        @include transition(all 0s);
          &.login, &.admin {
            position: fixed;
            top: 10px;
            left: 3%;
            background: none;
            border: 0;
            color: $color-dark;
            font-weight: bold;
            z-index: 1001;
          }
          &.logout, &.register {
            position: fixed;
            top: 10px;
            right: 3%;
            z-index: 1001;
          }
        }
    }
}

#main-menu {
  @include size-xs-not {
    position: fixed;
    right: 20px;
    top: 10px;
    width: auto;
    display: inline-block;
    z-index: 1001;

    ul {
      li {
        a {
          padding: ($row-col-padding/2)+1;
          font-size: $font-size;
          font-weight: bold;
          padding-left: $row-col-padding;
          padding-right: $row-col-padding;
        }
      }
    }
  }

  @include size-xs {
      position: static;
      width: 100%;
      text-align: center;
      padding-top: 15px;
  }
}

#logoid {
  position: fixed;
  top: 10px;
  height: 34px;
  display: inline-block;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  padding: 2px;
  text-align: center;
  z-index: 1001;
  @include opacity(1);
  @include transition(all 0.6s);

  img, >div {
    $height: 30px;
    height: $height;
    width: auto;
    @include transition(all 0.2s);
    &.hover {
      @include opacity(0);
      position: absolute;
      top: 2px;
      left: 0;
      right: 0;
      text-align: center;
    }
  }

  &.hide {
    @include opacity(0);
  }

  &:hover div.hover {
    @include opacity(1);
  }
}

.img-half {
  width: 50%;
}

#maintoprow {
  background: rgba($color-bright,0.95);
  border: 1px solid $color-bright;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

#start-logo {
  @include size-xs {
    text-align: center;
    > img {
      width: 20%;
    }

    .container-fluid {
      text-align: left;
      margin: auto;
      margin-top: 60px;
    }
  }
}

#scrollToTheTop {
  background: $color-dark;
  color: $color-bright;
  max-width: 50px;
  max-height: 50px;
  width: 10vw;
  height: 10vw;
  position: fixed;
  display: block;
  right: 10%;
  bottom: 5%;
  z-index: 3000;
  cursor: pointer;
  border: solid 1.5px $color-bright;
  @include border-radius(4px);
  @include transition(all 0.6s);
  @include opacity(0);
  text-align: center;
  font-size: 20px;
  line-height: 50px;


  &.hide {
    display:none;
  }
  &.show {
    display: block;
    @include opacity(1);
  }

}

#settingscontainer {
  .nav {
    ul li {
      a {
        font-size: 1.2em;
      }
    }
  }
  .nav-simple {
    ul li {
      a {
        font-size: 0.9em;
      }
    }
  }
}

#leftbottom-info {
  position: absolute;
  bottom: 2%;
  left: -200px;
  max-width: 300px;
  background: $color-bright;
  @include transition(all 0.6s);
  &:hover {
    left:0;
  }

  > a.full {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:700;
  }

  .row .col {
    padding: 0;
  }

  .profilepic {
   font-size: 0;
   overflow: visible;

    > img {
      position: relative;
      width: 100%;
      margin-left: 50%;
      @include border-radius(50%);
      display:block;
   }
  }
}
