    </div>
    <div id="scrollToTheTop" class="hide">^</div>
  </div>
</div>
  {foreach from=$ExternalJavaScript item=$jsvar}
  <script language="javascript" type="text/javascript" src="{$jsvar}"></script>
  {/foreach}
  {foreach from=$JavaScript item=$jsvar}
  <script language="javascript" type="text/javascript" src="{$smarty.const.URL_PATH|rtrim:'/'}/{$jsvar|trim:'/'}"></script>
  {/foreach}
</body>
</html>
