<div class="container-fluid text-align-center">

    <h1>Login</h1>
    <div class="login-box">
      <form method="post" action="{$smarty.const.URL_PATH}login/user">
        <input type="text" name="username" placeholder="USER">
        <input type="password" name="kennwort" placeholder="PASSWORT">
        <input type="submit" name="sub" value="Login">
      </form>
    </div>
    <p>
      <a href="{$smarty.const.URL_PATH|rtrim:'/'}/register">Registrieren</a>
    </p>
</div>
