/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* latin */
@font-face {
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  src: local("Cookie-Regular"), url(https://fonts.gstatic.com/s/cookie/v7/5eiDWXYu_7xmow8ddgvSIOvvDin1pK8aKteLpeZ5c0A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(https://fonts.gstatic.com/s/lato/v11/IY9HZVvI1cMoAHxvl0w9LVKPGs1ZzpMvnHX-7fPOuAc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url(https://fonts.gstatic.com/s/lato/v11/22JRxvfANxSmnAhzbFH8PgLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v11/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url(https://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v11/rZPI2gHXi8zxUjnybc2ZQFKPGs1ZzpMvnHX-7fPOuAc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url(https://fonts.gstatic.com/s/lato/v11/MgNNr5y1C_tIEuLEmicLmwLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url(https://fonts.gstatic.com/s/lato/v11/t85RP2zhSdDjt5PhsT_SnlKPGs1ZzpMvnHX-7fPOuAc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url(https://fonts.gstatic.com/s/lato/v11/lEjOv129Q3iN1tuqWOeRBgLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url(https://fonts.gstatic.com/s/lato/v11/XNVd6tsqi9wmKNvnh5HNEIX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"), local("Lato-LightItalic"), url(https://fonts.gstatic.com/s/lato/v11/2HG_tEPiQ4Z6795cGfdivJBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"), url(https://fonts.gstatic.com/s/lato/v11/cT2GN3KRBUX69GVJ2b2hxn-_kf6ByYO6CLYdB4HQE-Y.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic"), url(https://fonts.gstatic.com/s/lato/v11/1KWMyx7m-L0fkQGwYhWwuuvvDin1pK8aKteLpeZ5c0A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url(https://fonts.gstatic.com/s/lato/v11/AcvTq8Q0lyKKNxRlL28Rn4X0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url(https://fonts.gstatic.com/s/lato/v11/HkF_qI1x_noxlxhrhMQYEJBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v15/0eC6fl06luXEYWpBSJvXCIX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v15/Fl4y0QdOxyyTHEGMXX8kcYX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v15/-L14Jk06m6pUHB-5mXQQnYX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v15/I3S1wsgSg9YCurV6PUkTOYX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v15/NYDWBdD4gIq26G5XYbHsFIX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v15/Pru33qjShpZSmG3z6VYwnYX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/sTdaA6j0Psb920Vjv-mrzH-_kf6ByYO6CLYdB4HQE-Y.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/uYECMKoHcO9x1wdmbyHIm3-_kf6ByYO6CLYdB4HQE-Y.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/tnj4SB6DNbdaQnsM8CFqBX-_kf6ByYO6CLYdB4HQE-Y.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/_VYFx-s824kXq_Ul2BHqYH-_kf6ByYO6CLYdB4HQE-Y.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/NJ4vxlgWwWbEsv18dAhqnn-_kf6ByYO6CLYdB4HQE-Y.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/Ks_cVxiCiwUWVsFWFA3Bjn-_kf6ByYO6CLYdB4HQE-Y.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v15/ZLqKeelYbATG60EpZBSDy4X0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v15/oHi30kwQWvpCWqAhzHcCSIX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v15/rGvHdJnr2l75qb0YND9NyIX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v15/mx9Uck6uB63VIKFYnEMXrYX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v15/mbmhprMH69Zi6eEPBYVFhYX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v15/oOeFwZNlrTefzLYmlVV1UIX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v15/77FXFjRbGzN4aCrSFhlh3oX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v15/isZ-wbCXNKAbnjo6_TwHToX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v15/UX6i4JxQDm3fVTc1CPuwqoX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v15/jSN2CGVDbcVyCnfJfjSdfIX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v15/PwZc-YbIL414wB9rB1IAPYX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v15/97uahxiqZRoncBaCEI3aW4X0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Mono"), local("RobotoMono-Regular"), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY_ZraR2Tg8w2lzm7kLNL0-w.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Mono"), local("RobotoMono-Regular"), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY14sYYdJg5dU2qzJEVSuta0.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Mono"), local("RobotoMono-Regular"), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY1BW26QxpSj-_ZKm_xT4hWw.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Mono"), local("RobotoMono-Regular"), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpYwt_Rm691LTebKfY2ZkKSmI.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Mono"), local("RobotoMono-Regular"), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY9DiNsR5a-9Oe_Ivpu8XWlY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Mono"), local("RobotoMono-Regular"), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY6E8kM4xWR1_1bYURRojRGc.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Mono"), local("RobotoMono-Regular"), url(https://fonts.gstatic.com/s/robotomono/v4/hMqPNLsu_dywMa4C_DEpY4gp9Q8gbYrhqGlRav_IXfk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, form#imageUploadContainer .dz-preview .dz-details .dz-filename span, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 26, ../sass/mr.lib.scss */
.main-bg {
  background: #b65039;
}

/* line 63, ../sass/mr.lib.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
}
/* line 53, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_selection.scss */
*::-moz-selection {
  color: #fff;
  background-color: #b65039;
}
/* line 53, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_selection.scss */
*::selection {
  color: #fff;
  background-color: #b65039;
}

/* line 70, ../sass/mr.lib.scss */
html {
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
}

/* line 76, ../sass/mr.lib.scss */
body {
  width: 100%;
  min-height: 100vh;
  font-size: 14px;
  font-family: Lato, sans-serif;
  color: #1a1a1a;
  background: #fefefe;
  letter-spacing: 0.1em;
  line-height: 1.25;
  padding-bottom: 50px;
}

/* line 88, ../sass/mr.lib.scss */
input, textarea {
  font-size: 14px;
  color: #1a1a1a;
}

/* line 93, ../sass/mr.lib.scss */
img {
  max-width: 100%;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-drag: -moz-none;
  -ms-user-drag: none;
  -webkit-user-drag: none;
  user-drag: none;
}

/* line 99, ../sass/mr.lib.scss */
p {
  letter-spacing: 0;
  line-height: 1.4;
}
/* line 103, ../sass/mr.lib.scss */
p.text {
  -moz-column-width: 350px;
  -webkit-column-width: 350px;
  column-width: 350px;
  padding-bottom: 15px;
}

/* line 109, ../sass/mr.lib.scss */
strong {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  /* line 113, ../sass/mr.lib.scss */
  .xs-only {
    display: none !important;
  }
}

/* line 119, ../sass/mr.lib.scss */
.xs-hide {
  display: block;
}
@media only screen and (max-width: 768px) {
  /* line 119, ../sass/mr.lib.scss */
  .xs-hide {
    display: none;
  }
}

/* line 126, ../sass/mr.lib.scss */
a {
  text-decoration: none;
  font-weight: 400;
  color: #1a1a1a;
}

/* line 132, ../sass/mr.lib.scss */
.cover-box, .imagefeeditem {
  position: relative;
}
/* line 135, ../sass/mr.lib.scss */
.cover-box a, .imagefeeditem a {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 200;
}

/* line 146, ../sass/mr.lib.scss */
.opacity-50 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 149, ../sass/mr.lib.scss */
.opacity-30 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

/* line 154, ../sass/mr.lib.scss */
h1 small, h2 small, h3 small, h4 small, form#imageUploadContainer .dz-preview .dz-details .dz-filename span small, h5 small, h6 small, form input[type=submit].fullscreen small, .nav ul li a small, form#imageUploadContainer .dz-message small {
  font-size: 0.6em;
  opacity: 0.8;
}

/* line 161, ../sass/mr.lib.scss */
h1 big, h2 big, h3 big {
  font-size: 1.4em;
  color: #b65039;
}

/* line 167, ../sass/mr.lib.scss */
h1, h2, h3 {
  font-size: 2.3em;
  font-weight: 700;
  vertical-align: middle;
}
/* line 174, ../sass/mr.lib.scss */
h1 img, h2 img, h3 img {
  height: 51px;
}

/* line 177, ../sass/mr.lib.scss */
h1 {
  padding-bottom: 0.3em;
}

/* line 178, ../sass/mr.lib.scss */
h2, h3 {
  font-size: 1.9em;
}

/* line 181, ../sass/mr.lib.scss */
h2 {
  padding-bottom: 0.3em;
}

/* line 182, ../sass/mr.lib.scss */
h3 {
  font-size: 1.6em;
}

/* line 185, ../sass/mr.lib.scss */
h3 {
  padding-bottom: 0.3em;
}

/* line 186, ../sass/mr.lib.scss */
h4, form#imageUploadContainer .dz-preview .dz-details .dz-filename span, h5, h6, form input[type=submit].fullscreen, .nav ul li a, form#imageUploadContainer .dz-message {
  font-size: 1.6em;
  font-weight: 400;
}

/* line 190, ../sass/mr.lib.scss */
h4, form#imageUploadContainer .dz-preview .dz-details .dz-filename span {
  padding-bottom: 0.3em;
}

/* line 191, ../sass/mr.lib.scss */
h5, h6, form input[type=submit].fullscreen {
  font-size: 1.3em;
}

/* line 194, ../sass/mr.lib.scss */
h5 {
  padding-bottom: 0.3em;
}

/* line 195, ../sass/mr.lib.scss */
h6 {
  font-size: 1em;
}

/* line 198, ../sass/mr.lib.scss */
h6 {
  padding-bottom: 0.6em;
}

/* line 200, ../sass/mr.lib.scss */
.box-radius, .cover-box, table > tbody > tr > td, table > tbody > tr th, table > tr > td, table > tr th, table > thead > tr > td, table > thead > tr th, table.listed, form input.fullscreen[type=text], form input.fullscreen[type=password], form textarea.fullscreen, form input.fullscreen[type=submit], p.sys_message .printr, div.login-box, .nav-leftsub ul {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 204, ../sass/mr.lib.scss */
.no-radius {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 208, ../sass/mr.lib.scss */
.color-dark {
  color: #1a1a1a !important;
}

/* line 212, ../sass/mr.lib.scss */
.caps {
  text-transform: uppercase;
}

/* line 216, ../sass/mr.lib.scss */
.border-top {
  border-style: solid;
  border-top-width: 1px;
  border-color: #cccccc;
  padding-top: 15px;
}

/* line 223, ../sass/mr.lib.scss */
.background-bright {
  background-color: #fff;
}

/* line 227, ../sass/mr.lib.scss */
.fullheight {
  height: 100%;
}

/* line 229, ../sass/mr.lib.scss */
.text-align-right {
  text-align: right;
}

/* line 233, ../sass/mr.lib.scss */
.text-align-left {
  text-align: left;
}

/* line 237, ../sass/mr.lib.scss */
.text-align-center {
  text-align: center;
}

/* line 241, ../sass/mr.lib.scss */
.rows {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
/* line 246, ../sass/mr.lib.scss */
.rows * {
  margin-bottom: 20px;
}
/* line 248, ../sass/mr.lib.scss */
.rows *:last-child {
  margin: 0;
}
/* line 252, ../sass/mr.lib.scss */
.rows.rows-no-margin {
  margin: 0;
}
/* line 255, ../sass/mr.lib.scss */
.rows.rows-align-stretch {
  -webkit-align-content: stretch;
  align-content: stretch;
}
/* line 257, ../sass/mr.lib.scss */
.rows.rows-align-stretch > * {
  flex: 1;
}
/* line 262, ../sass/mr.lib.scss */
.rows.rows-no-padding > * {
  margin: 0;
}

/* line 267, ../sass/mr.lib.scss */
.row, .nav, .nav > div.container, .nav ul {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  /* line 267, ../sass/mr.lib.scss */
  .row, .nav, .nav > div.container, .nav ul {
    display: block;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column !important;
    flex-direction: column !important;
  }
  /* line 278, ../sass/mr.lib.scss */
  .xs-row.row, .xs-row.nav, .nav > div.xs-row.container, .nav ul.xs-row {
    -webkit-flex-direction: row !important;
    flex-direction: row !important;
  }
}

/* line 284, ../sass/mr.lib.scss */
.row {
  width: 100%;
}
/* line 288, ../sass/mr.lib.scss */
.row .col {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  /* line 288, ../sass/mr.lib.scss */
  .row .col {
    width: 100% !important;
  }
}
/* line 299, ../sass/mr.lib.scss */
.row .col-1 {
  width: 8.33333%;
}
/* line 302, ../sass/mr.lib.scss */
.row .col-2 {
  width: 16.66667%;
}
/* line 305, ../sass/mr.lib.scss */
.row .col-3 {
  width: 25%;
}
/* line 308, ../sass/mr.lib.scss */
.row .col-4 {
  width: 33.33333%;
}
/* line 311, ../sass/mr.lib.scss */
.row .col-5 {
  width: 41.66667%;
}
/* line 314, ../sass/mr.lib.scss */
.row .col-6 {
  width: 50%;
}
/* line 317, ../sass/mr.lib.scss */
.row .col-7 {
  width: 58.33333%;
}
/* line 320, ../sass/mr.lib.scss */
.row .col-8 {
  width: 66.66667%;
}
/* line 323, ../sass/mr.lib.scss */
.row .col-9 {
  width: 75%;
}
/* line 326, ../sass/mr.lib.scss */
.row .col-10 {
  width: 83.33333%;
}
/* line 329, ../sass/mr.lib.scss */
.row .col-11 {
  width: 91.66667%;
}
/* line 332, ../sass/mr.lib.scss */
.row .col-12 {
  width: 100%;
}
/* line 335, ../sass/mr.lib.scss */
.row .col-no-padding {
  padding: 0 !important;
}

/* line 340, ../sass/mr.lib.scss */
.row-no-break {
  -webkit-flex-direction: row;
  flex-direction: row;
}

/* line 347, ../sass/mr.lib.scss */
.row-border-no-padding > .col:first-child {
  padding-left: 0;
}
/* line 351, ../sass/mr.lib.scss */
.row-border-no-padding > .col:last-child {
  padding-right: 0;
}
@media only screen and (max-width: 768px) {
  /* line 345, ../sass/mr.lib.scss */
  .row-border-no-padding > .col {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 362, ../sass/mr.lib.scss */
.row-reverse {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
/* line 366, ../sass/mr.lib.scss */
.row-reverse.row-border-no-padding > .col:first-child {
  padding-left: 15px;
  padding-right: 0;
}
/* line 371, ../sass/mr.lib.scss */
.row-reverse.row-border-no-padding > .col:last-child {
  padding-right: 15px;
  padding-left: 0;
}

/* line 378, ../sass/mr.lib.scss */
.row-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

/* line 385, ../sass/mr.lib.scss */
.row-no-padding > .col {
  padding: 0 !important;
}

/* line 390, ../sass/mr.lib.scss */
.padding {
  padding: 15px !important;
}

/* line 394, ../sass/mr.lib.scss */
.row-fullscreen {
  min-height: 500px;
}
@media only screen and (max-width: 768px) {
  /* line 394, ../sass/mr.lib.scss */
  .row-fullscreen {
    min-height: auto;
    margin-top: 50px !important;
  }
}

/* line 403, ../sass/mr.lib.scss */
.row-align-top {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

/* line 407, ../sass/mr.lib.scss */
.row-align-middle {
  -webkit-align-items: center;
  align-items: center;
}

/* line 411, ../sass/mr.lib.scss */
.row-align-bottom {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

/* line 415, ../sass/mr.lib.scss */
.row-align-center {
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 419, ../sass/mr.lib.scss */
.row-align-stretch {
  -webkit-align-items: stretch;
  align-items: stretch;
}
/* line 421, ../sass/mr.lib.scss */
.row-align-stretch .col {
  height: 100%;
}
/* line 425, ../sass/mr.lib.scss */
.row-align-stretch .col.no-ex-he {
  height: auto;
}
@media only screen and (max-width: 768px) {
  /* line 421, ../sass/mr.lib.scss */
  .row-align-stretch .col {
    height: auto;
  }
}

/* line 435, ../sass/mr.lib.scss */
.row-align-baseline {
  -webkit-align-items: baseline;
  align-items: baseline;
}

/* line 440, ../sass/mr.lib.scss */
.margin-top {
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  /* line 445, ../sass/mr.lib.scss */
  .col-margin-top > .col, .row-margin-top > .col, .row-margin-top-big > .col {
    margin-top: 30px;
  }
  /* line 448, ../sass/mr.lib.scss */
  .col-margin-top > .col:first-child, .row-margin-top > .col:first-child, .row-margin-top-big > .col:first-child {
    margin-top: 0;
  }
}

@media only screen and (max-width: 768px) {
  /* line 456, ../sass/mr.lib.scss */
  .col-margin-top-zero > .col {
    margin-top: 0;
  }
}

/* line 462, ../sass/mr.lib.scss */
.row-margin-top {
  margin-top: 30px;
}

/* line 467, ../sass/mr.lib.scss */
.row-margin-top-big {
  margin-top: 100px;
}

/* line 472, ../sass/mr.lib.scss */
.dark {
  background: #1a1a1a;
  color: #fff;
}

/* line 477, ../sass/mr.lib.scss */
.relative {
  position: relative;
}

/* line 481, ../sass/mr.lib.scss */
div.align-center {
  margin: auto;
}

/* line 485, ../sass/mr.lib.scss */
div.container {
  margin: auto;
  clear: both;
}
@media only screen and (max-width: 768px) {
  /* line 485, ../sass/mr.lib.scss */
  div.container {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* line 485, ../sass/mr.lib.scss */
  div.container {
    width: 768px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 485, ../sass/mr.lib.scss */
  div.container {
    width: 992px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 485, ../sass/mr.lib.scss */
  div.container {
    width: 1200px;
  }
}

/* line 502, ../sass/mr.lib.scss */
div.container-fluid {
  width: 100%;
  clear: both;
}

/* line 507, ../sass/mr.lib.scss */
.cover, .cover-box {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
}
/* line 513, ../sass/mr.lib.scss */
.cover img.background, .cover-box img.background {
  visibility: hidden;
}

/* line 520, ../sass/mr.lib.scss */
.cover-box.fullscreen {
  height: 100%;
}
@media only screen and (max-width: 768px) {
  /* line 525, ../sass/mr.lib.scss */
  .cover-box.min-height {
    height: 80vw;
  }
  /* line 529, ../sass/mr.lib.scss */
  .cover-box.fullscreen {
    height: auto;
  }
}

/* line 534, ../sass/mr.lib.scss */
.square {
  max-width: 100%;
  overflow: hidden;
  display: block;
}
/* line 539, ../sass/mr.lib.scss */
.square:before {
  content: "";
  display: block;
  padding-top: 100%;
}

@media only screen and (max-width: 768px) {
  /* line 546, ../sass/mr.lib.scss */
  .xs-half {
    max-width: 50% !important;
    margin: auto;
  }
}

/* line 553, ../sass/mr.lib.scss */
.nav, .nav > div.container {
  -webkit-align-items: center;
  align-items: center;
}

/* line 558, ../sass/mr.lib.scss */
.nav {
  width: 100%;
}
/* line 566, ../sass/mr.lib.scss */
.nav ul {
  -webkit-align-items: stretch;
  align-items: stretch;
  width: auto;
}
/* line 571, ../sass/mr.lib.scss */
.nav ul:last-child {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
/* line 575, ../sass/mr.lib.scss */
.nav ul li {
  display: block;
}
/* line 577, ../sass/mr.lib.scss */
.nav ul li a {
  display: block;
  text-decoration: none;
  background: transparent;
  color: #1a1a1a;
  padding: 15px;
  -moz-transition: color 0.2s, background 0.5s;
  -o-transition: color 0.2s, background 0.5s;
  -webkit-transition: color 0.2s, background 0.5s;
  transition: color 0.2s, background 0.5s;
}
/* line 586, ../sass/mr.lib.scss */
.nav ul li a:hover {
  color: #b65039;
}
/* line 593, ../sass/mr.lib.scss */
.nav .nav-button {
  display: none;
}
@media only screen and (max-width: 768px) {
  /* line 600, ../sass/mr.lib.scss */
  .nav p, .nav h1, .nav h2, .nav h3, .nav h4, .nav form#imageUploadContainer .dz-preview .dz-details .dz-filename span, form#imageUploadContainer .dz-preview .dz-details .dz-filename .nav span, .nav h5, .nav h6, .nav li, .nav ul, .nav div {
    width: 100%;
  }
  /* line 604, ../sass/mr.lib.scss */
  .nav > div.container {
    padding-left: 0;
  }
  /* line 607, ../sass/mr.lib.scss */
  .nav h1, .nav h2, .nav h3, .nav h4, .nav form#imageUploadContainer .dz-preview .dz-details .dz-filename span, form#imageUploadContainer .dz-preview .dz-details .dz-filename .nav span, .nav h5, .nav h6, .nav p {
    padding: 7px;
    padding-left: 15px;
  }
  /* line 612, ../sass/mr.lib.scss */
  .nav ul {
    display: none;
    overflow: hidden;
  }
  /* line 617, ../sass/mr.lib.scss */
  .nav .nav-head {
    display: block;
    position: relative;
    height: 40px;
  }
  /* line 623, ../sass/mr.lib.scss */
  .nav .nav-head .nav-button {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: auto;
    padding-right: 3%;
    padding-left: 3%;
    text-align: right;
    font-size: 30px;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    cursor: pointer;
  }
  /* line 642, ../sass/mr.lib.scss */
  .nav .nav-head .nav-button:hover, .nav .nav-head .nav-button:active {
    color: #b65039;
  }
}

@media only screen and (max-width: 768px) {
  /* line 654, ../sass/mr.lib.scss */
  .nav-footer ul {
    display: block;
  }
  /* line 658, ../sass/mr.lib.scss */
  .nav-footer ul li a {
    padding: 15px !important;
    text-align: center !important;
    display: block;
    width: 100% !important;
  }
  /* line 664, ../sass/mr.lib.scss */
  .nav-footer ul li::after {
    content: " ";
    display: block;
    width: 60%;
    opacity: 0.7;
    border-bottom: 2px solid #1a1a1a;
    margin: auto;
  }
  /* line 673, ../sass/mr.lib.scss */
  .nav-footer ul li:last-child::after {
    display: none;
  }
}

/* line 682, ../sass/mr.lib.scss */
.nav-fixed-on-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
}

/* line 690, ../sass/mr.lib.scss */
.nav-default {
  border-top: 2px;
  border-left: 2px;
  border-right: 2px;
  border-bottom: 2px;
  border-style: solid;
  border-color: #1a1a1a;
}
/* line 698, ../sass/mr.lib.scss */
.nav-default > div.container {
  padding-left: 15px;
}
/* line 702, ../sass/mr.lib.scss */
.nav-default.nav-fixed-on-top {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

/* line 710, ../sass/mr.lib.scss */
.nav-simple ul {
  -webkit-justify-content: flex-start !important;
  justify-content: flex-start !important;
}
/* line 714, ../sass/mr.lib.scss */
.nav-simple ul li a {
  padding: 0;
  margin-right: 30px;
}
/* line 717, ../sass/mr.lib.scss */
.nav-simple ul li a:hover {
  background: none;
  color: #b65039;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 714, ../sass/mr.lib.scss */
  .nav-simple ul li a {
    font-size: 1.5em;
  }
}
/* line 729, ../sass/mr.lib.scss */
.nav-simple.align-right ul > li > a {
  margin-left: 30px;
  margin-right: 0;
}
@media only screen and (max-width: 768px) {
  /* line 736, ../sass/mr.lib.scss */
  .nav-simple ul > li > a {
    margin: 0 !important;
  }
}

/* line 742, ../sass/mr.lib.scss */
.circle {
  border-radius: 50%;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: block;
  margin: auto;
}
/* line 749, ../sass/mr.lib.scss */
.circle.cover-box {
  border: 1px solid #e4e4e4;
}
/* line 754, ../sass/mr.lib.scss */
.circle:before {
  content: "";
  display: block;
  padding-top: 100%;
}
@media only screen and (max-width: 768px) {
  /* line 742, ../sass/mr.lib.scss */
  .circle {
    width: 100%;
    max-width: 300px;
  }
}

/* line 766, ../sass/mr.lib.scss */
table {
  padding: 0;
  margin: 0;
  width: 100%;
  display: table;
}
/* line 774, ../sass/mr.lib.scss */
table > tbody, table > thead {
  display: table-row-group;
  margin: 0;
  padding: 0;
}
/* line 780, ../sass/mr.lib.scss */
table > tbody > tr, table > tr, table > thead > tr {
  margin: 0;
  padding: 0;
}
/* line 784, ../sass/mr.lib.scss */
table > tbody > tr > td, table > tbody > tr th, table > tr > td, table > tr th, table > thead > tr > td, table > thead > tr th {
  padding: 9px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0.5px;
  line-height: 1.7;
  font-weight: bold;
}
/* line 795, ../sass/mr.lib.scss */
table.dark-theme {
  display: block;
}
/* line 800, ../sass/mr.lib.scss */
table.dark-theme > tbody {
  display: block;
}
/* line 803, ../sass/mr.lib.scss */
table.dark-theme > tbody > tr, table.dark-theme > tr, table.dark-theme > thead > tr {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
/* line 808, ../sass/mr.lib.scss */
table.dark-theme > tbody > tr > td, table.dark-theme > tbody > tr th, table.dark-theme > tr > td, table.dark-theme > tr th, table.dark-theme > thead > tr > td, table.dark-theme > thead > tr th {
  color: #fff;
  display: block;
}
/* line 812, ../sass/mr.lib.scss */
table.dark-theme > tbody > tr > td a, table.dark-theme > tbody > tr th a, table.dark-theme > tr > td a, table.dark-theme > tr th a, table.dark-theme > thead > tr > td a, table.dark-theme > thead > tr th a {
  color: #fff;
}
/* line 822, ../sass/mr.lib.scss */
table.forty-sixty > tbody > tr > td:first-child, table.forty-sixty > tbody > tr th:first-child, table.forty-sixty > tr > td:first-child, table.forty-sixty > tr th:first-child, table.forty-sixty > thead > tr > td:first-child, table.forty-sixty > thead > tr th:first-child {
  width: 40%;
  margin-left: 0;
}
/* line 826, ../sass/mr.lib.scss */
table.forty-sixty > tbody > tr > td:last-child, table.forty-sixty > tbody > tr th:last-child, table.forty-sixty > tr > td:last-child, table.forty-sixty > tr th:last-child, table.forty-sixty > thead > tr > td:last-child, table.forty-sixty > thead > tr th:last-child {
  width: 60%;
  margin-right: 0;
}
/* line 834, ../sass/mr.lib.scss */
table.listed {
  border: solid 1px #cccccc;
  border-bottom: 0;
}
/* line 838, ../sass/mr.lib.scss */
table.listed > tbody > tr, table.listed > tr, table.listed > thead > tr {
  border-bottom: solid 1px #cccccc;
}
/* line 842, ../sass/mr.lib.scss */
table.listed > tbody > tr.selected, table.listed > tr.selected, table.listed > thead > tr.selected {
  background-color: #e5ff80;
}
/* line 845, ../sass/mr.lib.scss */
table.listed > tbody > tr > td, table.listed > tbody > tr th, table.listed > tr > td, table.listed > tr th, table.listed > thead > tr > td, table.listed > thead > tr th {
  border-right: solid 1px #cccccc;
}
/* line 847, ../sass/mr.lib.scss */
table.listed > tbody > tr > td:last-child, table.listed > tbody > tr th:last-child, table.listed > tr > td:last-child, table.listed > tr th:last-child, table.listed > thead > tr > td:last-child, table.listed > thead > tr th:last-child {
  border-right: 0;
}
/* line 852, ../sass/mr.lib.scss */
table.listed > tbody > tr > td.link a, table.listed > tbody > tr th.link a, table.listed > tr > td.link a, table.listed > tr th.link a, table.listed > thead > tr > td.link a, table.listed > thead > tr th.link a {
  display: block;
  width: 100%;
}
/* line 858, ../sass/mr.lib.scss */
table.listed > tbody > tr > td.link a:hover, table.listed > tbody > tr th.link a:hover, table.listed > tr > td.link a:hover, table.listed > tr th.link a:hover, table.listed > thead > tr > td.link a:hover, table.listed > thead > tr th.link a:hover {
  color: #ff0000;
}
/* line 868, ../sass/mr.lib.scss */
table.table-center > tbody > tr, table.table-center > tr {
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 872, ../sass/mr.lib.scss */
table.one-col > tbody > tr > td, table.one.col > tr > td {
  width: 100%;
}

/* line 877, ../sass/mr.lib.scss */
.cover-box > .map {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 885, ../sass/mr.lib.scss */
.map-info-box {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.29804) 0px 1px 4px -1px;
  background-color: white;
  padding: 10px;
  font-family: Roboto, Arial;
  font-size: 13px;
  margin: 15px;
  position: relative;
}
/* line 895, ../sass/mr.lib.scss */
.map-info-box .data {
  letter-spacing: 0;
  font-size: 0.8em;
  margin-top: 5px;
}

/* line 905, ../sass/mr.lib.scss */
form .row-form.row-margin-top {
  margin-top: 15px;
}
@media only screen and (max-width: 768px) {
  /* line 905, ../sass/mr.lib.scss */
  form .row-form.row-margin-top {
    margin-top: 30px;
  }
}
/* line 912, ../sass/mr.lib.scss */
form .row-form > .col {
  padding: 0;
  padding-left: 15px;
}
/* line 916, ../sass/mr.lib.scss */
form .row-form > .col:first-child {
  padding-left: 0;
}
@media only screen and (max-width: 768px) {
  /* line 912, ../sass/mr.lib.scss */
  form .row-form > .col {
    padding: 0;
    margin-top: 30px;
  }
}
/* line 928, ../sass/mr.lib.scss */
form input.fullscreen[type=text], form input.fullscreen[type=password], form textarea.fullscreen, form input.fullscreen[type=submit] {
  width: 100%;
  padding: 15px;
  border: solid 1px #1a1a1a;
  background: #1a1a1a;
  color: #fff;
  -moz-transition: color 0.1s, background 0.1s, border 0.1s;
  -o-transition: color 0.1s, background 0.1s, border 0.1s;
  -webkit-transition: color 0.1s, background 0.1s, border 0.1s;
  transition: color 0.1s, background 0.1s, border 0.1s;
}
/* line 938, ../sass/mr.lib.scss */
form input.fullscreen[type=text]:focus, form input.fullscreen[type=password]:focus, form textarea.fullscreen:focus, form input.fullscreen[type=submit]:focus {
  background: #fff;
  color: #1a1a1a;
}
/* line 945, ../sass/mr.lib.scss */
form input.fullscreen[type=text].small, form input.fullscreen[type=password].small, form input.fullscreen[type=checkbox].small, form textarea.fullscreen.small, form input.fullscreen[type=submit].small {
  padding: 12px;
  font-size: 0.88em;
}
/* line 958, ../sass/mr.lib.scss */
form input[type=checkbox] {
  display: none;
}
/* line 960, ../sass/mr.lib.scss */
form input[type=checkbox] + label.fullscreen {
  padding: 15px;
  display: block;
  cursor: pointer;
  color: #1a1a1a;
  padding-left: 37px;
}
/* line 966, ../sass/mr.lib.scss */
form input[type=checkbox] + label.fullscreen:before {
  content: "";
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: bottom;
  margin-left: -22px;
  border: 1px solid #1a1a1a;
  color: #fff;
  font-size: 1.8em;
  line-height: 10px;
  text-align: center;
}
/* line 982, ../sass/mr.lib.scss */
form input[type=checkbox]:checked + label.fullscreen:before {
  content: "x";
  background: #b65039;
  border: 1px solid #b65039;
}
/* line 993, ../sass/mr.lib.scss */
form textarea {
  resize: vertical;
  min-height: 300px;
}
/* line 1002, ../sass/mr.lib.scss */
form input[type=submit].fullscreen {
  cursor: pointer;
  color: #b65039;
  -moz-transition: color 0.2s, background 0.2s, border 0.2s;
  -o-transition: color 0.2s, background 0.2s, border 0.2s;
  -webkit-transition: color 0.2s, background 0.2s, border 0.2s;
  transition: color 0.2s, background 0.2s, border 0.2s;
}
/* line 1009, ../sass/mr.lib.scss */
form input[type=submit].fullscreen:hover {
  background: #fff;
  border: 1px solid #b65039;
}
/* line 1018, ../sass/mr.lib.scss */
form label.image {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
}
/* line 1022, ../sass/mr.lib.scss */
form label.image:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 1026, ../sass/mr.lib.scss */
form input[type=radio].with-labels {
  display: none;
}
/* line 1028, ../sass/mr.lib.scss */
form input[type=radio].with-labels:checked + label.image {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 1034, ../sass/mr.lib.scss */
.empty {
  margin: 0 !important;
  padding: 0 !important;
}

@media only screen and (max-width: 768px) {
  /* line 1039, ../sass/mr.lib.scss */
  .xs-inline-block {
    display: inline-block;
  }
}

/* line 4, ../sass/dropzone.scss */
form#imageUploadContainer {
  border-radius: 5px;
  border: 1px #1a1a1a dashed;
  text-align: center;
  background: #fff;
  padding: 15px 15px;
  min-height: 150px;
}
/* line 12, ../sass/dropzone.scss */
form#imageUploadContainer * {
  box-sizing: border-box;
}
/* line 16, ../sass/dropzone.scss */
form#imageUploadContainer.dz-started .dz-message {
  display: none;
}
/* line 20, ../sass/dropzone.scss */
form#imageUploadContainer.dz-clickable {
  cursor: pointer;
}
/* line 23, ../sass/dropzone.scss */
form#imageUploadContainer.dz-clickable * {
  cursor: default;
}
/* line 28, ../sass/dropzone.scss */
form#imageUploadContainer .dz-message {
  text-align: center;
  margin: 2em 0;
}
/* line 35, ../sass/dropzone.scss */
form#imageUploadContainer .dz-preview {
  text-align: left;
  background: #1a1a1a;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  position: relative;
  vertical-align: middle;
  margin-bottom: 2px;
}
/* line 45, ../sass/dropzone.scss */
form#imageUploadContainer .dz-preview > div {
  margin-left: 20px;
}
/* line 49, ../sass/dropzone.scss */
form#imageUploadContainer .dz-preview > div:first-child {
  margin-left: 0;
}
/* line 54, ../sass/dropzone.scss */
form#imageUploadContainer .dz-preview .dz-image {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
/* line 60, ../sass/dropzone.scss */
form#imageUploadContainer .dz-preview .dz-details {
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
}
/* line 65, ../sass/dropzone.scss */
form#imageUploadContainer .dz-preview .dz-details .dz-filename span {
  padding-top: 15px;
}
/* line 75, ../sass/dropzone.scss */
form#imageUploadContainer .dz-preview .dz-progress, form#imageUploadContainer .dz-preview .dz-error-message {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 41%;
  top: 45%;
}
/* line 83, ../sass/dropzone.scss */
form#imageUploadContainer .dz-preview .dz-progress {
  width: 30%;
  border: 1px solid #fff;
}
/* line 87, ../sass/dropzone.scss */
form#imageUploadContainer .dz-preview .dz-progress .dz-upload {
  display: block;
  height: 20px;
  background-color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 95, ../sass/dropzone.scss */
form#imageUploadContainer .dz-preview.dz-success .dz-progress {
  border: 1px solid #65cc00;
}
/* line 98, ../sass/dropzone.scss */
form#imageUploadContainer .dz-preview.dz-success .dz-progress .dz-upload {
  background-color: #65cc00;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 104, ../sass/dropzone.scss */
form#imageUploadContainer .dz-preview.dz-error .dz-progress {
  display: none;
}
/* line 107, ../sass/dropzone.scss */
form#imageUploadContainer .dz-preview .dz-success-mark, form#imageUploadContainer .dz-preview .dz-error-mark {
  display: none;
  vertical-align: middle;
}
/* line 111, ../sass/dropzone.scss */
form#imageUploadContainer .dz-preview.dz-success .dz-success-mark, form#imageUploadContainer .dz-preview.dz-error .dz-error-mark {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 20%;
  height: 60%;
  box-sizing: border-box;
  width: 200px;
  text-align: right;
}
/* line 121, ../sass/dropzone.scss */
form#imageUploadContainer .dz-preview.dz-success .dz-success-mark svg, form#imageUploadContainer .dz-preview.dz-error .dz-error-mark svg {
  width: auto;
  height: 100%;
}
/* line 140, ../sass/dropzone.scss */
form#imageUploadContainer.dz-drag-hover {
  border: 1px #1a1a1a solid;
}
/* line 143, ../sass/dropzone.scss */
form#imageUploadContainer.dz-drag-hover .dz-message {
  opacity: 0.5;
}

/* line 10, ../sass/screen.scss */
body div#main {
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
@media only screen and (min-width: 768px) {
  /* line 15, ../sass/screen.scss */
  body div#main {
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 768px) {
  /* line 27, ../sass/screen.scss */
  body.imageview div#main {
    background-image: none !important;
  }
}
@media only screen and (min-width: 768px) {
  /* line 25, ../sass/screen.scss */
  body.imageview {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}

/* line 41, ../sass/screen.scss */
.padding-top-small {
  padding-top: 5px;
}

/* line 44, ../sass/screen.scss */
.padding-bottom-small {
  padding-bottom: 5px;
}

/* line 51, ../sass/screen.scss */
p.sys_message {
  border-left-style: solid;
  border-left-width: 10px;
  padding: 15px;
}
/* line 56, ../sass/screen.scss */
p.sys_message.error {
  border-color: #ff0000;
}
/* line 60, ../sass/screen.scss */
p.sys_message.warning {
  border-color: yellow;
}
/* line 64, ../sass/screen.scss */
p.sys_message.notice {
  border-color: #65cc00;
}
/* line 68, ../sass/screen.scss */
p.sys_message .printr {
  font-family: 'Roboto Mono', monospace;
  white-space: pre;
  display: block;
  padding: 20px;
  margin: 10px;
  width: 90%;
  max-width: 992px;
  color: #fff;
  background: #1a1a1a;
  overflow-x: scroll;
}

@media only screen and (min-width: 768px) {
  /* line 83, ../sass/screen.scss */
  #header {
    min-height: 150px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 83, ../sass/screen.scss */
  #header {
    padding-top: 30px;
    padding-bottom: 10px;
    background: url(../img/linien.png) no-repeat 20px left;
    background-size: 50px auto;
  }
}
@media only screen and (max-width: 768px) {
  /* line 95, ../sass/screen.scss */
  #header div.col:first-child {
    text-align: center;
  }
}
/* line 101, ../sass/screen.scss */
#header div.col:first-child img {
  width: 80%;
}

/* line 108, ../sass/screen.scss */
p {
  padding-top: 10px;
  padding-bottom: 5px;
}

/* line 113, ../sass/screen.scss */
#welcome {
  font-family: "Roboto-mono", monospace;
}
/* line 116, ../sass/screen.scss */
#welcome p {
  font-size: 1.2em;
}

/* line 124, ../sass/screen.scss */
.imagefeeditem .absolute {
  position: absolute;
  bottom: 20px;
  top: 30px;
  z-index: 550;
}

/* line 132, ../sass/screen.scss */
div.login-box {
  border: solid 3px #1a1a1a;
  width: 200px;
  margin: auto;
}
/* line 138, ../sass/screen.scss */
div.login-box input[type=text], div.login-box input[type=password], div.login-box input[type=submit] {
  width: 100%;
  display: block;
  border: 0;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  margin: 0;
}
/* line 149, ../sass/screen.scss */
div.login-box input[type=submit] {
  background: #1a1a1a;
  color: #fff;
  -moz-transition: color 0.2s, background 0.5s;
  -o-transition: color 0.2s, background 0.5s;
  -webkit-transition: color 0.2s, background 0.5s;
  transition: color 0.2s, background 0.5s;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 155, ../sass/screen.scss */
div.login-box input[type=submit]:hover {
  background: #4e4e4e;
}

/* line 161, ../sass/screen.scss */
.admin-container {
  min-height: 300px;
  padding-bottom: 15px;
}
/* line 164, ../sass/screen.scss */
.admin-container h1 small {
  display: block;
}

/* line 171, ../sass/screen.scss */
.nav-leftsub ul {
  border: solid 1px #999999;
  background: #f2f2f2;
  overflow: hidden;
}
/* line 178, ../sass/screen.scss */
.nav-leftsub ul li a {
  border-top: solid 1px #999999;
  padding: 10px;
  margin: 0;
  display: block;
}
@media only screen and (max-width: 768px) {
  /* line 178, ../sass/screen.scss */
  .nav-leftsub ul li a {
    border-left: 0;
    border-right: 0;
  }
}
/* line 188, ../sass/screen.scss */
.nav-leftsub ul li a:hover {
  background: #fff;
}
/* line 193, ../sass/screen.scss */
.nav-leftsub ul li:first-child a {
  border-top: 0;
}

/* line 201, ../sass/screen.scss */
.button, form .button, [type=submit].button {
  display: inline-block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 12px;
  border: solid 1px #1a1a1a;
  background: #1a1a1a;
  color: #fff;
  font-weight: bold;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 212, ../sass/screen.scss */
.button:hover, form .button:hover, [type=submit].button:hover {
  background: #fff;
  color: #b65039;
  border: 1px solid #b65039;
}
/* line 218, ../sass/screen.scss */
.button.fullscreen, form .button.fullscreen, [type=submit].button.fullscreen {
  width: 100%;
  text-align: center;
  padding: 12px;
  font-size: 0.88em;
}
/* line 225, ../sass/screen.scss */
.button.red, form .button.red, [type=submit].button.red {
  background-color: #8d0d0d;
  border-color: #8d0d0d;
}
/* line 229, ../sass/screen.scss */
.button.red:hover, form .button.red:hover, [type=submit].button.red:hover {
  background: none;
}

/* line 235, ../sass/screen.scss */
.small-button {
  display: inline-block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 7.5px;
  border: solid 1px #1a1a1a;
  background: #1a1a1a;
  color: #fff;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
/* line 245, ../sass/screen.scss */
.small-button:hover {
  background: #fff;
  color: #b65039;
  border: 1px solid #b65039;
}

/* line 252, ../sass/screen.scss */
#righttop-nextstep {
  position: absolute;
  top: 0;
  right: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.4;
  -o-transition: all 0.4;
  -webkit-transition: all 0.4;
  transition: all 0.4;
}
/* line 260, ../sass/screen.scss */
#righttop-nextstep.show {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 265, ../sass/screen.scss */
div.login-top {
  position: fixed;
  top: 10px;
  left: 20px;
  font-size: 0;
  z-index: 1001;
}
/* line 272, ../sass/screen.scss */
div.login-top .small-button {
  margin-right: 15px;
  font-size: 14px;
}
/* line 275, ../sass/screen.scss */
div.login-top .small-button:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 768px) {
  /* line 265, ../sass/screen.scss */
  div.login-top {
    position: static;
    width: 100%;
    text-align: center;
    padding-top: 50px;
  }
  /* line 286, ../sass/screen.scss */
  div.login-top .small-button {
    -moz-transition: all 0s;
    -o-transition: all 0s;
    -webkit-transition: all 0s;
    transition: all 0s;
  }
  /* line 288, ../sass/screen.scss */
  div.login-top .small-button.login, div.login-top .small-button.admin {
    position: fixed;
    top: 10px;
    left: 3%;
    background: none;
    border: 0;
    color: #1a1a1a;
    font-weight: bold;
    z-index: 1001;
  }
  /* line 298, ../sass/screen.scss */
  div.login-top .small-button.logout, div.login-top .small-button.register {
    position: fixed;
    top: 10px;
    right: 3%;
    z-index: 1001;
  }
}

@media only screen and (min-width: 768px) {
  /* line 308, ../sass/screen.scss */
  #main-menu {
    position: fixed;
    right: 20px;
    top: 10px;
    width: auto;
    display: inline-block;
    z-index: 1001;
  }
  /* line 319, ../sass/screen.scss */
  #main-menu ul li a {
    padding: 8.5px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 308, ../sass/screen.scss */
  #main-menu {
    position: static;
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }
}

/* line 338, ../sass/screen.scss */
#logoid {
  position: fixed;
  top: 10px;
  height: 34px;
  display: inline-block;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  padding: 2px;
  text-align: center;
  z-index: 1001;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
/* line 352, ../sass/screen.scss */
#logoid img, #logoid > div {
  height: 30px;
  width: auto;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 357, ../sass/screen.scss */
#logoid img.hover, #logoid > div.hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  top: 2px;
  left: 0;
  right: 0;
  text-align: center;
}
/* line 367, ../sass/screen.scss */
#logoid.hide {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 371, ../sass/screen.scss */
#logoid:hover div.hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 376, ../sass/screen.scss */
.img-half {
  width: 50%;
}

/* line 380, ../sass/screen.scss */
#maintoprow {
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #fff;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

@media only screen and (max-width: 768px) {
  /* line 391, ../sass/screen.scss */
  #start-logo {
    text-align: center;
  }
  /* line 394, ../sass/screen.scss */
  #start-logo > img {
    width: 100%;
  }
  /* line 398, ../sass/screen.scss */
  #start-logo .container-fluid {
    text-align: left;
    margin: auto;
    margin-top: 60px;
  }
}

/* line 406, ../sass/screen.scss */
#scrollToTheTop {
  background: #1a1a1a;
  color: #fff;
  max-width: 50px;
  max-height: 50px;
  width: 10vw;
  height: 10vw;
  position: fixed;
  display: block;
  right: 10%;
  bottom: 5%;
  z-index: 3000;
  cursor: pointer;
  border: solid 1.5px #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
}
/* line 428, ../sass/screen.scss */
#scrollToTheTop.hide {
  display: none;
}
/* line 431, ../sass/screen.scss */
#scrollToTheTop.show {
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 441, ../sass/screen.scss */
#settingscontainer .nav ul li a {
  font-size: 1.2em;
}
/* line 448, ../sass/screen.scss */
#settingscontainer .nav-simple ul li a {
  font-size: 0.9em;
}

/* line 455, ../sass/screen.scss */
#leftbottom-info {
  position: absolute;
  bottom: 2%;
  left: -200px;
  max-width: 300px;
  background: #fff;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
/* line 462, ../sass/screen.scss */
#leftbottom-info:hover {
  left: 0;
}
/* line 466, ../sass/screen.scss */
#leftbottom-info > a.full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 700;
}
/* line 475, ../sass/screen.scss */
#leftbottom-info .row .col {
  padding: 0;
}
/* line 479, ../sass/screen.scss */
#leftbottom-info .profilepic {
  font-size: 0;
  overflow: visible;
}
/* line 483, ../sass/screen.scss */
#leftbottom-info .profilepic > img {
  position: relative;
  width: 100%;
  margin-left: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
}
